@font-face {
	font-family: 'Lato';
	src: url('../font/lato/Lato-Hairline.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/Lato-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../font/Avenir-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}


.borderCont{
	width: 100%;
	height: 100%;
	transition: all 500ms ease;
}

.container {
	top: 0;
	left: 0;
	color: rgba(255, 255, 255, 1);
	transition: all 500ms ease;
}

html {
	-webkit-font-smoothing: antialiased !important;
}

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

.fontello {
	font-family: fontello;
}

.input { 
	font-family: 'Avenir', sans-serif; 
	font-weight: 100; 
	outline: none;
	height: 70%; 
	padding: 0;
	overflow: auto; 
	margin: 3.5rem 0 0 0;
	transition: all 200ms ease-out;
}

.input .left {
	float: left;
	cursor: pointer;
	margin-top: 0.3rem;
}

.input .left:hover {
	color: #E6C2B3;
}

.input .txt {
	margin-left: 70px;
	margin-bottom: 25px;
	outline: none;
	spellcheck: false;
	autocorrect: "off";
}

.input i {
	text-shadow: none;
	font-size: 2.5rem;	
}

.txtHover {
	color: rgba(255, 255, 255, 0.3);
	textShadow: 0 0 0;
	color: #E6C2B3;
}

.apps {
	font-family: 'Lato', sans-serif; 
	font-size: 1rem; 
	font-weight: 900; 
	position: absolute; 
	top: 40px;
	left: 40px;
	max-width: 150px;
	padding-left: 5px;
	opacity: 0.6;
}

.apps:hover {
	color: #E6C2B3;
	opacity: 0.9;
	cursor: pointer;
}


.header { 
	font-family: 'Lato', sans-serif; 
	font-size: 5rem; 
	font-weight: 900; 
	position: relative; 
	max-width: 150px;
	padding-left: 5px;
}

.header i {
	font-size: 4rem;
}

.header span:hover {
	color: #E6C2B3;
	cursor: pointer;
}

.button { 
	float: right; 
	position: relative; 
	background: none;
	border: 5px solid #fff; 
	margin-top: 20px;
	font-family: 'Lato', sans-serif; 
	font-size: 3rem; 
	font-weight: 900; 
	padding: 0px 10px 0px 10px;
}

.button:hover {
	cursor:pointer;
	color: #E6C2B3;
	border-color: #E6C2B3;
}

.inner {
	font-size: 3rem;
	line-height: 1.3;
	max-width: 62rem;
	margin: 0 auto;
	padding: 2rem 2rem 0 2rem;
}

.overlay {
	width:100%;
	height:100%;
	background-color:rgba(30, 30, 30, 0.95);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.faded {
	color: rgba(255, 255, 255, 0.03);
}

.faded:hover {
	color: rgba(255, 255, 255, 1);
}

.last {
	opacity: 0;
}
.last:hover {
	opacity: 0.6;
	cursor: pointer;
}

::-webkit-scrollbar {
		width: 12px;
}
 
::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 0.1); 
		border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: #fff;
}

::selection {
	background: #E6C2B3;
}
::-moz-selection {
	background: #E6C2B3;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
	color: #333;
	font-size: 26px;
}

.modal-content input{
	font-size: 26px;
	width: 50px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#fontDecrease {
	cursor: pointer;
}

#fontIncrease {
	cursor: pointer;
}
