@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66181997');
  src: url('../font/fontello.eot?66181997#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?66181997') format('woff'),
       url('../font/fontello.ttf?66181997') format('truetype'),
       url('../font/fontello.svg?66181997#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66181997#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-right-open-1:before { content: '\e802'; } /* '' */
.icon-right-circle:before { content: '\e803'; } /* '' */
.icon-angle-right:before { content: '\e804'; } /* '' */
.icon-angle-circled-right:before { content: '\e805'; } /* '' */
.icon-right-open-2:before { content: '\e806'; } /* '' */
.icon-paper-plane-1:before { content: '\e807'; } /* '' */
.icon-paper-plane-empty:before { content: '\e808'; } /* '' */
.icon-circle-thin:before { content: '\e809'; } /* '' */
.icon-circle:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-right-open-3:before { content: '\e80c'; } /* '' */
.icon-right-open-outline:before { content: '\e80d'; } /* '' */