
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-right-open-1:before { content: '\e802'; } /* '' */
.icon-right-circle:before { content: '\e803'; } /* '' */
.icon-angle-right:before { content: '\e804'; } /* '' */
.icon-angle-circled-right:before { content: '\e805'; } /* '' */
.icon-right-open-2:before { content: '\e806'; } /* '' */
.icon-paper-plane-1:before { content: '\e807'; } /* '' */
.icon-paper-plane-empty:before { content: '\e808'; } /* '' */
.icon-circle-thin:before { content: '\e809'; } /* '' */
.icon-circle:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-right-open-3:before { content: '\e80c'; } /* '' */
.icon-right-open-outline:before { content: '\e80d'; } /* '' */