html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*-webkit-filter: blur(2px);*/

}

body {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 12px;
	border: 12px solid #fff;

}
.fontello {
	font-family: fontello;
}
.input { 
	font-family: 'Lato', sans-serif; 
	font-weight: 100; 
	outline: none; 
	color: #fff; 
	text-shadow: 0px 1px 5px rgba(0,0,0,0.2); 
	height: 70%; 
	padding: 0;
	overflow: auto; 
	margin: 3.5rem 0 0 0;
}

.input .left {
	float: left;
	cursor: pointer;
	margin-top: 1.3rem;
}

.input .left:hover {
	color: #E6C2B3;
}

.input .txt {
	margin-left: 70px;
	outline: none;
}

.input i {
	text-shadow: none;
	font-size: 3rem;
}

.apps {
	font-family: 'Lato', sans-serif; 
	font-size: 1rem; 
	font-weight: 700; 
	color: #fff; 
	position: absolute; 
	top: 40px;
	left: 40px;
	max-width: 150px;
	padding-left: 5px;
	opacity: 0.6;
}

.apps:hover {
	color: #E6C2B3;
	opacity: 0.9;
	cursor: pointer;
}


.header { 
	font-family: 'Lato', sans-serif; 
	font-size: 5rem; 
	font-weight: 900; 
	color: #fff; 
	position: relative; 
	max-width: 150px;
	padding-left: 5px;
}

.header i {
	font-size: 4rem;
}

.header:hover {
	color: #E6C2B3;
	cursor: pointer;
}

.button { 
	float: right; 
	position: relative; 
	background: none;
	border: 5px solid #fff; 
	margin-top: 20px;
	color: #fff;
	font-family: 'Lato', sans-serif; 
	font-size: 3rem; 
	font-weight: 900; 
	padding:0px 10px 0px 10px;
}

.button:hover {
	cursor:pointer;
	color: #E6C2B3;
	border-color: #E6C2B3;
}

.inner {
	font-size: 4rem;
	line-height: 1.3;
	max-width: 62rem;
	margin: 0 auto;
	padding: 2rem 2rem 0 2rem;
}

.container {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
}

.last {
	opacity: 0;
}
.last:hover {
	opacity: 0.6;
	cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #fff;
}

::selection {
	background: #E6C2B3;
}
::-moz-selection {
	background: #E6C2B3;
}
